* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

img {
   max-width: 100%;
   height: auto;
}

a {
   display: inline-block;
   text-decoration: none;
}

.container {
   width: 1140px;
   margin: 0 auto;
}

html {
    scroll-behavior: smooth;
    transition: 0.5s;
}

.container-fluid {
    width: 1300px;
    margin: 0 auto;
}

body {
    font-family: 'Circular Std' , sans-serif;
}
/* 1-section */
.header {
    position: relative;
    background-color: #F2F2F2;
}

.navbar .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    padding: 20px 0;
    position: relative;
}

.navbar-title {
    margin-left: 35px;
}

.navbar-list {
    display: flex;
    align-items: center;
}

.label #btn, .label #cancel {
    position: absolute;
    top: 50%;
    transform: translate(0 -50%);
    right: 30px;   
    font-size: 25px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.navbar-title {
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    cursor: pointer;
}

.nav-menu {
    display: none;
    padding: 10px 20px;
    margin: 10px 0;
}

.navbar-item {
    position: relative;
    padding: 0 17px;
   
}

.navbar-link {
    position: relative;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    transition: 0.5s;
    cursor: pointer;
}

.navbar-link::before {
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    margin: 0 auto;
    height: 2px;
    background-color: #5454D4;
    bottom: -5px;
    transition: 0.7s transform;
    transform: scaleX(0);
    transform-origin: center;
}

.navbar-link:hover::before {
    transform: scaleX(1);
    transform-origin: center;
    background-color: #5454D4;
}


 
.navbar-link:hover {
	color: #5454D4;
}

.get-start {
	padding: 14px 30px;
	color: white;
	margin: 10px 10px;
	text-decoration: none;
	font-weight: 500;
	background: #F04037;
	border: 1px solid #C31A12;
	border-radius: 5px;
	transition: 0.7s;

}

.get-start:hover {
    background-color: #fff;
	color:#C31A12;
}


.dropdown-list {
    padding: 20px 0;
    width: 227px;
    background-color: #FFFFFF;
	border: 1px solid #EAE9F2;
	box-shadow: 0px 52px 54px rgba(65, 62, 101, 0.296766);
	border-radius: 0px 0px 10px 10px;
	border-top: 5px solid #5454D4;
	display: none;
	position: absolute;
	right: 130px;
	left: -115px;
	transform: translate(-60% 50%);
	transition: .3s;
    
}

.dropdown-item {
	padding: 10px;
}

.dropdown-link {
    padding: 0;
    text-decoration: none;
    font-size: 16px;
    color: black;
    transition: .3s;
}

.dropdown-link:hover {
    color: #5454D4;
}
.dropdown {
    position: relative;
    transition:  .3s;
    z-index: 2;
}

.dropdown:hover .dropdown-list {
    display: flex;
    flex-direction: column;
}

.subdropdown {
    position: relative;
    transition: .3s;
}

.subdropdown-list {
    padding: 20px 0;
    width: 227px;
    background-color: #FFFFFF;
	border: 1px solid #EAE9F2;
	box-shadow: 0px 52px 54px rgba(65, 62, 101, 0.296766);
	border-radius: 0px 0px 10px 10px;
	border-top: 5px solid #F04037;
	display: none;
	position: absolute;
	right: 339px;
	top: -5px;
	transition: .3s;
	transform: translate(50%);
}

.subdropdown-item {
     padding: 0 10px;
}

.subdropdown-link {
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    transition: .3s;
}

.subdropdown-link:hover {
    color: #5454D4;
}

.subdropdown:hover .subdropdown-list {
    display: flex;
    flex-direction: column;
}

.main {
    padding: 120px 0;
}

.main-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.main-img-box {
   width: 51%;
   height: auto;
}

.main-img {
    transform: translateX(-20%);
}

.main-title {
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #19191B;
    margin-bottom: 40px;
}

.main-item {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}

.main-text {
    margin-left: 10px;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: -0.656526px;
    color: #19191B;
}

.main-link {
    background: #F0544C;
    border: 1px solid #C31A12;
    border-radius: 5px;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: #FFFFFF;
    padding: 16px 25px;
    margin-top: 30px;
    margin-bottom: 18px;
    transition: 0.7s;
}

.main-link:hover {
    background-color: #fff;
    color: #F0544C;
}

.main-text-p {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.562737px;
    color: #19191B;
}

.main-link-a {
    color: #5454D4;
}

.main-taylor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.omg-text {
    font-size: 21px;
    line-height: 39px;
    font-style: italic;
    letter-spacing: -0.656526px;
    color: #19191B;
}

.taylor {
    font-size: 21px;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: -0.656526px;
    color: #19191B;
}

.taylor-info {
    margin-left: 25px;
}

.omg-text {
    margin-bottom: 16px;
}
/* 2-section */
.chapters {
    background-color: #F2F2F2;
    border-top: 2px solid  #EAE9F2;
    border-bottom: 2px solid  #EAE9F2;
    padding: 100px 0;
}

.chapters-title {
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #19191B;
}

.chapters-text {
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    color: #696871;
    margin-top: 18px;
    margin-bottom: 60px;
}

.problem-box {
    position: relative;
    margin: 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0px 12px 34px rgba(65, 62, 101, 0.102519);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 88px 90px;
}

.problem-text {
    font-size: 16px;
    line-height: 28px;
    color: #5454D4;
}

.problem-title {
    margin-top: 10px;
    margin-bottom: 29px;
    font-size: 24px;
    line-height: 28px;
    color: #19191B;

}

.omega-text {
    font-size: 21px;
    line-height: 39px;
    color: #19191B;
}

.btn {
    background-color: #FFFFFF;
    border-radius: 50%;
    border: none;
    padding: 20px 27px;
    font-size: 24px;
    text-align: center;
    outline: none;
    transition: 0.5s;
}

.btn:focus {
    background-color: #5454D4;
    color: #fff;
}

.problem-button-one {
    position: absolute;
    right: 97%;
}

.problem-button-two {
    position: absolute;
    left: 97%;
}

.problem-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 125px;
}

.problem-item-img {
  transform: translateX(140px);
}

.problem-item-title {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #19191B;
    margin-top: 39px;
    margin-bottom: 15px;
}

.problem-item-text {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #696871;
}
/* 3-section */
.things {
    background-color: #F2F2F3;
    border-bottom: 2px solid #EAE9F2;
    padding: 100px 0;
}

.things-title {
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #19191B;
}

.things-text {
    margin-top: 18px;
    margin-bottom: 60px;
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    color: #696871;
}

.things-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 100px;
}

.things-item {
    background: #FFFFFF;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    padding: 18px 20px;
    width: 30%;
    display: flex;
    align-items: center;
    margin: 15px;
    cursor: pointer;
    transition: 0.5s;
}

.things-item:hover {
    box-shadow: 0 6px 20px 0px #9b9b9b;
}

.small {
    padding: 27px 20px;
}

.things-item-text {
    margin-left: 17px;
    font-size: 21px;
    line-height: 25px;
    color: #19191B; 
}

.get-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #413E65;
    box-shadow: 0px 52px 54px rgba(65, 62, 101, 0.296766);
    border-radius: 10px;
    padding: 40px 50px;
}

.get-small-box {
    display: flex;
    align-items: center;

}

.get-info {
    margin-left: 48px;
}

.get-title {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;     
}

.get-text {
    margin-top: 13px;
    font-size: 18px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.7);
}

.get-link {
    background: #F0544C;
    border: 1px solid #C31A12;
    border-radius: 5px;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    padding: 16px 39px;
    transition: 0.5s;
}  

.get-link:hover {
    background-color: #C31A12;
}

.things-list-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 90px;
}

.things-item-title {
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #5454D4;
    margin-bottom: 18px;
}

.things-item-text-two {
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    color: #696871;
}
/* 4-section */
.reviews {
    position: relative;
    background-color: #F2F2F2;
    border-bottom: 1px solid #EAE9F2;
    padding: 100px 0;
}

.reviews-title {
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #19191B;
}

.reviews-text {
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    color: #696871;
    margin-top: 18px;
    margin-bottom: 60px;
}

.reviews-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reviews-item {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.036062);
    border-radius: 10px;
    padding: 39px 37px;
    cursor: pointer;
    transition: 0,5s box-shadow;
}

.reviews-item:hover {
    box-shadow: 0 10px 20px 0 #d0d0d1;
}

.item {
    padding: 39px 35px;
}

.reviews-item-text {
    font-size: 21px;
    font-style: italic;
    line-height: 39px;
    letter-spacing: -0.656526px;
    color: #19191B;
    margin: 31px 0;
}

.text {
    margin-bottom: 72px;
}

.reviews-div {
    display: flex;
    align-items: center;
}

.div-info {
    margin-left: 17px;
}

.person-name {
    font-size: 21px;
    line-height: 25px;
    color: #19191B;
}

.amazon-text {
    font-size: 16px;
    line-height: 28px;
    color: #696871;
}

.reviews-link {
    position: relative;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #5454D4;
    margin-top: 53px;
   margin-left: 430px;
}

.reviews-link::before {
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    margin: 0 auto;
    height: 2px;
    background-color: #5454D4;
    bottom: -5px;
    transition: 0.7s transform;
    transform: scaleX(0);
    transform-origin: center;
}

.reviews-link:hover::before {
    transform: scaleX(1);
    transform-origin: center;
    background-color: #5454D4;
}
/* 5-section */
.about {
    background-color: #F2F2F2;
    padding: 100px 0;
}

.about-title {
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #19191B;
    margin-bottom: 70px;
}

.about-div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about-info-title {
    font-size: 24px;
    line-height: 28px;
    color: #19191B;
}

.about-info-text {
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 28px;
    color: #696871;
}

.about-text {
    font-size: 16px;
    line-height: 28px;
    color: #696871;
    margin-bottom: 20px;
}

.about-small-text {
    font-size: 16px;
    line-height: 28px;
    color: #696871;
}

.about-link {
    color: #19191B;
    text-decoration: underline;
}
/* 6-section */
.plans {
    background-color: #413E65;
    padding: 100px 0;
}

.plans-title {
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
}

.plans-text {
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 18px;
    margin-bottom: 58px;
}

.plans-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.plans-item {
    background: #FFFFFF;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    padding-top: 35px;
    padding-bottom: 12px;
    transition: 0.5s;
}

.plans-item:hover {
    box-shadow: 0 10px 20px 0 #d0d0d1;
}

.plans-item-p {
    font-size: 16px;
    line-height: 28px;
    color: #5454D4;
    text-align: center;
    margin-left: 125px;
}

.plans-item-title {
    font-size: 60px;
    line-height: 56px;
    text-align: center;
    color: #1D293F;
    margin-top: 21px;
}

.book {
    margin-bottom: 17px;
}

.plans-item-text {
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    color: #19191B;
    margin-top: 30px;
    margin-bottom: 46px;
}

.ebook {
    margin-bottom: 75px;
}

.plans-label {
   position: relative;
}

.plans-icon {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 30px;
    transform: translateY( -196%);
}

.plans-input {
    display: block;
    background: #F7F7FB;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    font-size: 18px;
    line-height: 21px;
    color: #696871;
    padding: 19px 50px;
    margin: 0 12px;
    text-align: center;
    outline: none;
}

.plans-button {
    background: #5454D4;
    border: 1px solid #3D3DAD;
    border-radius: 5px;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    padding: 17px 76px;
    margin: 0 12px;
    margin-top: 15px;
    transition: 0.5s;
}

.plans-button:hover {
    background-color: #3D3DAD;
}

.plans-item-subtext {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #696871;
}

.plans-item-link {
    background: #F0544C;
    border: 1px solid #C31A12;
    border-radius: 5px;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    padding: 19px 76px;
    margin: 0 12px;
    transition: 0.5s;
}

.plans-item-link:hover {
    background-color: #FFFFFF;
    color: #F0544C;
}

.plans-list-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
}

.plans-item-two {
    width: 50%;
    margin-bottom: 58px;
}

.short {
    margin-bottom: 80px;
}

.plans-item-box {
    display: flex;
    align-items: center;
}

.item-img {
    margin-right: 21px;
}

.plans-two-title {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.plans-item-two-text {
    font-size: 16px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 20px;
}
/* 7-section */
.learn {
    background-color: #F2F2F2;
    border-bottom: 2px solid #EAE9F2;
    padding: 100px 0;
}

.learn .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.learn-title {
    font-size: 60px;
    line-height: 70px;
    color: #19191B; 
}

.learn-text {
    font-size: 21px;
    line-height: 39px;
    color: #696871;
    margin-top: 18px;
}

.learn-link {
    background: #F0544C;
    border: 1px solid #C31A12;
    border-radius: 5px;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    padding: 17px 50px;
    transition: 0.5s;
}

.learn-link:hover {
    background-color: #fff;
    color: #F0544C;
}
/* 8-section */
.footer {
    position: relative;
    background-color: #F2F2F2;
    padding: 50px 0;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-list {
    display: flex;
    align-items: center;
}

.footer-item {
    position: relative;
    margin: 0 14px;
}

.footer-title {
    cursor: pointer;
    font-size: 24px;
    line-height: 28px;
    color: #19191B;
}

.footer-link {
    position: relative;
    font-size: 16px;
    line-height: 38px;
    text-align: center;
    color: #19191B;
}

.footer-link::before {
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    margin: 0 auto;
    height: 2px;
    background-color: #19191B;
    bottom: -5px;
    transition: 0.7s transform;
    transform: scaleX(0);
    transform-origin: center;
}

.footer-link:hover::before {
    transform: scaleX(1);
    transform-origin: center;
    background-color: #19191B;
}

.footer-text {
    cursor: pointer;
    font-size: 16px;
    line-height: 38px;
    text-align: right;
    color: #19191B;
}

